body {
    font-family: 'Neonderthaw', cursive;
    background: #f589b6;
}
.header_div {
    background: white;
    color: red;
}
.header_div p{
    font-family: 'Courier New', Courier, monospace;
    color: silver;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: bold;

}
.main_div button{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 30px;
    width: 130px;
    font-weight: bolder;
    letter-spacing: 3px;
}
.copy_right_footer {
    position: fixed;
    color: turquoise;
    bottom: 0;
    width: 100%;
    font-size: 18px;
    background-color: violet;
    line-height: 3;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(214, 0, 32);
}


